*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.heading{
    background-color: darkmagenta;
    color: aliceblue;
    text-align: center;
    border: 3px solid black;
    text-shadow: 1cm;
}
.choice{
    height: 165px;
    width: 165px;
}
.choice:hover{
    opacity: 50%;
    zoom: 120%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
}
.choices {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align content: center;
    gap: 5rem;
    margin-top: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}